@font-face {
  font-family: "Bornomala";
  src: url("./assets/Bornomala-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Bornomala";
}

html {
  scroll-behavior: smooth;
}

.reveal {
  visibility: hidden;
}