@import "tailwindcss";

@font-face {
  font-family: "Bornomala";
  src: url("./Assets/Bornomala-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Bornomala";
}